@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0px !important;
}

ul {
  list-style: none;
}

.arrow {
  height: 30px;
  display: flex;
}
.arrow .arrow-img {
  height: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  animation-duration: 2s;
}

@media (min-width: 700px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .parrafo {
    width: 80%;
    text-align: center;
  }
  .img-fondo {
    max-width: 700px;
  }
  .img-front {
    max-width: 700px;
  }
  .menu {
    width: 100vw;
  }
  .nav {
    display: flex;
  }
  .foto-section3 {
    display: flex;
    justify-content: space-around !important;
  }
}
@media (min-width: 700px) {
  .back {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 35px;
  }
  .back i {
    font-size: 60px;
    height: 40px;
    margin-left: 20px;
  }
  .bg-video {
    display: flex;
    justify-content: center;
  }
  .bg-video video {
    width: 120vw;
  }
  .txt-video {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
  .habs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .barras {
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  .progress {
    height: 43px !important;
    margin-bottom: 30px !important;
  }
}
.footer {
  width: 100%;
  height: 90px;
  background-color: rgb(71, 71, 71);
}
.footer .redes {
  display: flex;
  justify-content: center;
}
.footer .redes img {
  width: 50px;
  margin: 20px !important;
}

header {
  padding-top: 20px !important;
}

.perfil-foto {
  display: flex;
  justify-content: center;
  animation-duration: 5s;
}
.perfil-foto img {
  width: 200px;
  border-radius: 50%;
}

.perfil-nombre {
  display: flex;
  justify-content: center;
  animation-duration: 4s;
}

.menu {
  animation-duration: 5s;
  background-color: white;
  box-shadow: 10px 15px 12px white;
}

nav ul {
  display: flex;
  justify-content: center;
}
nav ul li a {
  color: black !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  padding: 5px 5px !important;
  text-decoration: none;
}

.info {
  text-align: center;
  animation-duration: 3s;
  padding: 10px !important;
}
.info p {
  text-align: left;
  text-shadow: 1px 1px 2px white;
  animation-duration: 2.5s;
}
.info img {
  max-width: 100%;
  animation-duration: 3.5s;
}

.section2 {
  height: 70vh;
  margin-top: 25px;
}

.info2 {
  animation-duration: 2s;
}
.info2 img {
  width: 100%;
  height: 100%;
  animation-duration: 3s;
}

.foto-section3 {
  animation-duration: 3s;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.foto-section3 img {
  width: 100px;
}

.idiomas {
  height: 100vh;
  padding: 15px;
}

.back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
  margin-top: 25px;
}
.back i {
  font-size: 30px;
}

main {
  margin-top: 40px;
}

.bg-video {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bg-video video {
  width: 380px;
  opacity: 50%;
}

.txt-video {
  z-index: 1;
  position: absolute;
  width: 100vw;
  padding: 10px;
}
.txt-video p {
  text-shadow: 3px 3px 5px white;
  font-family: "start";
  font-weight: 300;
  color: black;
}

.progress {
  margin-bottom: 10px !important;
  height: 35px !important;
}

.barras {
  padding: 30px;
}

.barra-1 {
  animation-duration: 3s;
}

.barra-2 {
  animation-duration: 3.1s;
}

.barra-3 {
  animation-duration: 3.2s;
}

.barra-4 {
  animation-duration: 3.3s;
}

.barra-5 {
  animation-duration: 3.4s;
}

.barra-6 {
  animation-duration: 3.5s;
}

.barra-7 {
  animation-duration: 3.6s;
}

.barra-8 {
  animation-duration: 3.7s;
}

.fecha p {
  font-family: "dancing script";
  font-size: 14px;
}

.certificados img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 20px;
  box-shadow: 10px 5px 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  max-width: 500px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 10px !important;
}
.form input {
  margin-bottom: 10px;
  text-align: center;
}

text-area {
  margin-bottom: 10px;
  text-align: center;
}

#btn-enviar {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-contacto {
  width: 100vw;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  padding: 10px !important;
}
.img-contacto img {
  width: 100%;
  max-width: 500px;
}

/*# sourceMappingURL=app.css.map */
