@font-face {
    font-family: 'start';
    src: url('../assets/fonts/PressStart2P-vaV7.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    padding: 0px !important;
}
header a{
    margin: 20px;
}
.bg-video{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.bg-video video{
    width: 380px;
    opacity: 50%;
}
.txt-video {
    z-index: 1;
    position: absolute;
    width: 100vw;
    padding: 10px;
}
.txt-video p{
    text-shadow: 3px 3px 5px white;
    font-family: 'start';
    font-weight: 400;
}

.progress {
    margin-bottom:10px !important;
    height: 35px !important;
}

.barras{
    padding: 30px;
}
.barra-1 {
    animation-duration: 3s;
}
.barra-1 h3{
    color: beige;
}
.barra-2{
    animation-duration: 3.1s;
}
.barra-3{
    animation-duration: 3.2s;
}
.barra-4{
    animation-duration: 3.3s;
}
.barra-5{
    animation-duration: 3.4s;
}
.barra-6{
    animation-duration: 3.5s;
}
.barra-7{
    animation-duration: 3.6s;
}
.barra-8{
    animation-duration: 3.7s;
}

/*footer*/
.footer{
    width: 100%;
    height: 90px;
    background-color: rgb(71, 71, 71);
}
.footer .redes{
    display: flex;
    justify-content:center;
    
}
.redes img{
    width: 50px;
    margin: 20px !important;
}
