
.bg-video{
    height: 50vh;
    background-attachment: fixed;

}
.bg-video video{
    width: 100vw;
    height: 100vw;

}
.txt-video {
    position: absolute;
    width: 40vw;
}

.progress {
    margin-bottom:10px !important;
    height: 30px !important;
}
.barras{
    width: 80vw;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    
    
}
.barra-1 {
    animation-duration: 3s;
}
.barra-1 h3{
    color: beige;
}
.barra-2{
    animation-duration: 3.1s;
}
.barra-3{
    animation-duration: 3.2s;
}
.barra-4{
    animation-duration: 3.3s;
}
.barra-5{
    animation-duration: 3.4s;
}
.barra-6{
    animation-duration: 3.5s;
}
.barra-7{
    animation-duration: 3.6s;
}
.barra-8{
    animation-duration: 3.7s;
}

.habs{
    /*transform: rotate(-90deg);*/ 
    width: 80vw;
    height: 150vh; 
}
