/* @font-face {
    font-family: 'start';
    src: url('../assets/fonts/PressStart2P-vaV7.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    animation-duration: 1s;
}
.container-fluid{
    padding: 0px !important;
} */

h2, h3, h4, h5{
    font-family: 'start';
    font-weight: 400;
}
h5{
    margin: 0 !important;
}
header a{
    margin: 20px;
}

.back{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
    margin-top: 25px;
}
.back i{
    font-size: 30px;
}
main{
   margin-top: 40px; 
}
.bg-video{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.bg-video video{
    width: 380px;
    opacity: 50%;
}
.txt-video {
    z-index: 1;
    position: absolute;
    width: 100vw;
    padding: 10px;
}
.txt-video p{
    text-shadow: 3px 3px 5px white;
    font-family: 'start';
    font-weight: 300;
    color: black
}

.progress {
    margin-bottom:10px !important;
    height: 35px !important;
}

.barras{
    padding: 30px;
}
.barra-1 {
    animation-duration: 3s;
}
.barra-1 h3{
    color: beige;
}
.barra-2{
    animation-duration: 3.1s;
}
.barra-3{
    animation-duration: 3.2s;
}
.barra-4{
    animation-duration: 3.3s;
}
.barra-5{
    animation-duration: 3.4s;
}
.barra-6{
    animation-duration: 3.5s;
}
.barra-7{
    animation-duration: 3.6s;
}
.barra-8{
    animation-duration: 3.7s;
}

.fecha p{
    font-family: 'start';
    font-size: 14px;
}
/*footer*/
.footer{
    width: 100%;
    height: 90px;
    background-color: rgb(71, 71, 71);
}
.footer .redes{
    display: flex;
    justify-content:center;
    
}
.redes img{
    width: 50px;
    margin: 20px !important;
}

@media (min-width: 700px) {
    .back{
        height: 50px;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 35px;
    }
    .back i{
        font-size: 60px;
        height: 40px;
        margin-left: 20px;
    }
    .bg-video{
        display: flex;
        justify-content: center;
    }
    .bg-video video{
        width: 120vw;
        
    }
  
    .txt-video{
        width: 80vw;
        display: flex;
        flex-direction: column;
    }
    .habs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .barras{
        max-width: 600px;
        display: flex;
        flex-direction: column;
    }
    .progress{
        height: 43px !important;
        margin-bottom: 30px !important;
    }    
    
}