/*reset*/ 

*{
    margin: 0% !important;
    /*padding: 0% !important;*/
    box-sizing: border-box;
}

header{
    padding-top: 20px !important;
}

.perfil-foto, .perfil-nombre {
    display: flex;
    justify-content: center;

}
.perfil-nombre{
    animation-duration: 4s;
    
}
.perfil-foto{
    animation-duration: 5s;
}
.perfil-foto img{
    width: 200px;
    border-radius: 50%;    
}


.menu{
    animation-duration: 6s;
    height: 25px;
    background-color: white;
    box-shadow: 10px 15px 12px white;
    margin-bottom: 40px !important;
}

nav ul{
    display: flex !important;
    justify-content: center;
}
nav ul li a{
    /*margin: 0px 5px 0px 5px!important;*/
    color: black !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.info{
    height: 80vh;
    text-align: center;
    animation-duration: 2s;
    padding: 10px !important;
    /*
    background-image: url("../assets/img/img-info.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 5px right -100px;
    */
    
}

.info p{
    text-align: left;
    text-shadow: 1px 1px 2px white; 
    animation-duration: 2.5s;
}
.info img{
    max-width: 100%;
    animation-duration: 3.5s;
}
.section2{
    height: 70vh;  
}

.section2 .s2p{
    padding: 10px !important;
}



/* Keyframes*/
