
@import '../basics/colors';

.back{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
    margin-top: 25px;
    i{
        font-size: 30px;
    }
}

main{
    margin-top: 40px;
}

.bg-video{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    video{
        width: 380px;
        opacity: 50%;
    }
}

.txt-video{
    z-index: 1;
    position: absolute;
    width: 100vw;
    padding: 10px;
    p{
        text-shadow: 3px 3px 5px white;
        font-family: 'start';
        font-weight: 300;
        color: $p-color;
    }
}

.progress{
    margin-bottom:10px !important;
    height: 35px !important;
}

.barras{
    padding: 30px;
}
.barra-1 {
    animation-duration: 3s;
}

.barra-2{
    animation-duration: 3.1s;
}
.barra-3{
    animation-duration: 3.2s;
}
.barra-4{
    animation-duration: 3.3s;
}
.barra-5{
    animation-duration: 3.4s;
}
.barra-6{
    animation-duration: 3.5s;
}
.barra-7{
    animation-duration: 3.6s;
}
.barra-8{
    animation-duration: 3.7s;
}

.fecha{
    p{
        font-family: $p-family;
        font-size: 14px;
    }
}