header{
    padding-top: 20px !important;
}
.perfil-foto{
    display: flex;
    justify-content: center;
    animation-duration: 5s;
    img{
        width: 200px;
        border-radius: 50%;
    }
}
.perfil-nombre{
    display: flex;
    justify-content: center;
    animation-duration: 4s;
}
